h1 {
    z-index: 20;
    position: absolute;
    top: 15em;
    left: 20%;
    font-size: 1.25rem;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    padding: .8rem 4rem .8rem .8rem;
    border-radius: 0 0 10em 0;

    &::before {
        content: '';
        position: absolute;
        bottom: -1em;
        left: 0;
        width: 85%;
        height: 1em;
        border-radius: 0 0 10em 0;
        background-color: rgba(255, 0, 0, .8);
    }
}

h1.hidden {
    display: none;
}