<section *ngIf="state" class="search">
    <section class="text">
        <h2>Find dit værelse</h2>
        <p>Hvor vil du hen og hvornår vil du det?</p>
    </section>
    <form method="POST">
        <section>
            <label for="destination">Destination:</label>
            <select name="destination" id="destination">
                <option selected hidden disabled value="null">Vælg en destination</option>
                <option value="danmark">Danmark</option>
                <option value="sverige">Sverige</option>
                <option value="finland">Finland</option>
                <option value="norge">Norge</option>
                <option value="tyskland">Tyskland</option>
                <option value="polen">Polen</option>
                <option value="island">Island</option>
            </select>
        </section>
        <section>
            <label for="checkin">Check-in:</label>
            <input type="date" id="start" name="trip-start" value="2020-08-12" min="2020-01-01" max="2021-12-31">
        </section>
        <section>
            <label for="checkout">Check-ud:</label>
            <input type="date" id="end" name="trip-end" value="2020-08-12" min="2020-01-01" max="2021-12-31">
        </section>
        <section>
            <label for="persons">Antal personer:</label>
            <select name="persons" id="persons">
                <option selected hidden disabled value="null">Vælg antal personer</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </section>
        <button type="button" (click)="find()">Søg</button>
        <!-- <section *ngIf="error">
            <span>{{ error }}</span>
        </section> -->
    </form>
</section>