<section class="container">

    <section class="content">
    
        <section class="left">
            <span class="padding"><a routerLink="/forside">Hotel Overlook</a> > <a href="#">Reservation</a> > Reserver dit foretrukne værelse > Tak for din reservation </span>
            <h2>Tak for din reservation</h2>
            <p>Vi takker for din reservation og ønsker dig et behageligt ophold på Hotel Overlook.</p>
            <a class="redlink" routerLink="/forside">Gå til forsiden</a>
    
        </section>
        <section class="right">
            <ul class="rules">
                <li><h3>Betingelser</h3></li>
                <li><i class="fas fa-check"></i><p>Reduceret pris - spar op til 25%.</p></li>
                <li><i class="fas fa-check"></i><p>Kan kun bookes online vha. Overlook website og app.</p></li>
                <li><i class="fas fa-check"></i><p>Bestil helt op til og med ankomstdagen.</p></li>
                <li><i class="fas fa-check"></i><p>Bookinger tilbagebetales ikke og kan ikke ændres eller annulleres.</p></li>
                <li><i class="fas fa-check"></i><p>Beløbet debiteres kreditkort på reservationstidspunket.</p></li>
                <li><i class="fas fa-check"></i><p>Morgenmad er inkluderet.</p></li>
            </ul>
        </section>
    
    </section>
</section>