<section class="img">
    <figure>
        <img id="image" *ngIf="countries" src="{{countries[getIdx()].image}}" alt="Billede">
    </figure>
</section>

<section class="container">

    <section class="countries">
        <a *ngFor="let country of countries" [class.active]="this.sortBy === lowerCase(country.name)" (click)="filterBy(country.name, country.id); reload()">{{country.name}}</a>
    </section>

    <section class="content">

        <section class="left">
            <span *ngIf="rooms" class="padding"><a routerLink="/forside">Hotel Overlook</a> > <a routerLink="/hoteller">Hoteller og Destinationer</a> > <a routerLink="/hoteller/{{country}}"> {{ upperCase(country) }} </a> > <a routerLink="/hoteller/{{country}}/{{city}}">{{ upperCase(city) }}</a>  > <a *ngIf="rooms" routerLink="/hoteller/{{country}}/{{city}}/{{hotelId}}"> {{ rooms[0].hotel_name }} </a> > {{room.title}}</span>
            <h2 *ngIf="rooms" class="padding">{{ rooms[0].hotel_name }}</h2>
            <!-- <p>{{hotel.teaser}}</p> -->
            <!-- <p class="air" *ngFor="let country of countries | slice:0:1;">{{country.description}}</p> -->
            <h3 class="overline">Vores værelser</h3>
            <section class="cities">

                <article *ngIf="room">
                    <figure>
                        <img [src]="room.images[0].image" alt="{{room.room_title}}">
                    </figure>
                  <section class="hero">
                      <section class="text">
                          <h3>{{ room.title }}</h3>
                          <h4>{{ room.area }} Plads til {{ room.num_persons }} <span>{{(room.num_persons >= 2) ? 'personer' : 'person'}}</span></h4>
                      </section>
                      <section class="images" *ngIf="room.num_images > 1">
                          <figure *ngFor="let item of room.images">
                              <img [src]="item.image" [alt]="item.title">
                          </figure>
                      </section>
                  </section>


                  <p>{{ room.description }}</p>
                <section class="book">

                    <section class="normal">
                        <b>NORMAL Pris - inkl. morgenmad</b>
                        <span class="note">Kan ikke ændres eller afbestilles</span>
                        <section class="prices">
                          <span class="price">{{ priceFix(room.day_price_normal) }}<p>DKK/nat</p></span>
                          <button routerLink="/reservation/{{hotelId}}/{{roomId}}/0" type="button">Book</button>
                        </section>
                    </section>
                    <section class="flex">
                        <b>FLEX Pris - inkl. morgenmad</b>
                        <span class="note">Kan ændres eller afbestilles</span>
                        <section class="prices">
                          <span class="price">{{ priceFix(room.day_price_flex) }} <p>DKK/nat</p></span>
                          <button routerLink="/reservation/{{hotelId}}/{{roomId}}/1" type="button">Book</button>
                        </section>
                    </section>
                </section>

                </article>
            </section>

        </section>
        <section class="right">
            <ul>
                <li><h3>Hotel Information</h3></li>
                <li *ngIf="hotel"><p><span class="red"><i class="fas fa-map-marker-alt fa-lg"></i></span> {{ hotel.address }}</p></li>
                <li *ngIf="hotel"><p><span class="green"><i class="fas fa-phone-square-alt fa-lg"></i></span> {{ hotel.phone }}</p></li>
                <li><h3>Faciliteter</h3></li>
                <li *ngFor="let item of facilities"><p>{{ item.title }}</p></li>
                <li *ngIf="like"><input checked (click)="deleteRating()" id="toggle-heart" type="checkbox"/>
                    <label for="toggle-heart">❤</label></li>
                <li *ngIf="!like"><input (click)="postRating()" id="toggle-heart" type="checkbox"/>
                    <label for="toggle-heart">❤</label></li>
            </ul>


        </section>

    </section>
</section>
