section.img {
    
    
    figure {
        transition: all 350ms ease-in-out;
        width: 100vw;
        flex-shrink: 0;
        img {
            object-fit: cover;
            height: 765px;
            width: 100%;

        }
    }
}
section.container {
    width: 60%;
    margin: 0 auto;
    @media (max-width:900px) {
        width: 90%;
    }
    
    .content {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 4rem;
        @media(max-width:1200px){
            grid-template-columns: 1fr;
            }
    
        .left {
            
            padding-top: 2rem;
            span {
                font-size: .8rem;
            }
            .title {
                font-weight: 400;
                padding: .5rem 0 1rem;
                margin-bottom: 0rem;
            }
            .cities {
                
                display: grid;
                article {
                    
                    figure {
                        width: 100%;
                        padding-bottom: 1rem;
                        img {
                            width: 100%;
                            height: 21.875rem;
                            object-fit: cover;
                            border-radius: 4px;
                        }
                    }
                    p {
                        height: 70px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                    .hero {
                        display: grid;
                        grid-template-columns: 30% 65%;
                        gap: 2rem;
                        .text {
                            align-self: center;
                            h4, span {
                                font-weight: 400;
                            }
                            span {
                                font-size: 1rem !important;
                            }
                        }
                        .images {
                            display: flex;
                            gap: 1rem;
                            figure {
                            width: 5rem !important;

                                img {
                                    height: 100% !important;
                                }
                            }
                        }
                    }
                    p {
                        font-size: .8rem;
                    }
                    .book {
                        display: grid;
                        // grid-template-columns: repeat(2, 1fr);
                        gap: 2rem;
                        .normal, .flex {
                            padding: 1rem;
                            background-color: #efefef;
                            display: inline-block;
                            .note {
                                display: block;
                            }
                            .prices {
                                display: grid;
                                grid-template-columns: 60% 40%;
    
                                .price {
                                    padding-top: 1rem;
                                    font-size: 1.5rem;
                                    p {
                                        font-size: 1rem !important;
                                        display: inline;
                                        padding-left: .3rem;
                                    }
                                }
                                button {
                                    font-size: 1rem;
                                    border: none;
                                    border-radius: 4px;
                                    color: #fff;
                                    background: linear-gradient(0deg, red 0%, #ec0000 100%);
                                    align-self: self-end;
                                    justify-self: self-end;
                                    width: 8rem;
                                    height: 2.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right {
            padding-top: 2rem;
            padding-left: 2rem;
            border-left: 1px solid #aaaaaa80;
            @media(max-width:1200px){
                padding-left: unset;
            border-left: unset;
            border-top: 1px solid #aaaaaa80;
            text-align: center;
                }
            .types {
                h3 {
                    padding-bottom: 1.5rem;
                font-size: .9rem;
                }
                article {
                    display: flex;
                    flex-direction: row;
                    padding: .25rem 0;

                    figure {
                        width: 30%;

                        img {
                            cursor: pointer;
                            width: 100%;
                        }
                    }
                    a {
                        align-self: center;
                        padding: 0 .8215rem;
                    }
                }
            }
        }
    }
}

.active {
    font-weight: 700;
}
.air {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.padding {
    font-weight: 400;
    padding: 1rem 0%;
}